*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

.light{
    background-color: slategray;
    color: #fff;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dark{
    background-color: darkslategray;
    color: #333;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav2{
 
    color: #fff;
    gap: 1rem;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}