.header{
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
    color: #333;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
     
}
.btn{
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
}


 